.offcanvas-title{
    font-weight: bold;
    color: black;
    margin-top: 15px;
    border-bottom: rgba(173, 173, 173, 0.99) 2px solid;
    margin-bottom: 10px;
}
.cartContent{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-bottom: rgba(173, 173, 173, 0.99) 1px solid;
}

.cartContent h4{
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
    color: black;
}

.buy-now-cart{;
    padding: 5px 20px;
    background: #dc8cdb;
    border: none;
    color: #fff;
    transition: 2s;
    border-radius: 10px;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 10px;
}

.buy-now-cart:hover{
    background: #fff;
    border: none;
    color: #dc8cdb;
}

#check-out{
    padding: 15px 20px;
    background: linear-gradient(to right, #ffb963, #ff88f9);
    border: none;
    color: #fff;
    transition: 2s;
    border-radius: 10px;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 10px;

}

#check-out a{
    color: #fff;
}

#check-out:hover{
    background: #fff;
}

#check-out:hover a{
    background-image: linear-gradient(to right, #ffb963, #ff88f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#remove-all{
    padding: 15px 20px;
    background: rgb(159, 150, 149);
    border: none;
    transition: 2s;
    border-radius: 10px;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 10px;
}

#remove-all:hover{
    background: #fff;
}

#remove-all a{
    color: #fff;
}

#remove-all:hover a{
    color: rgb(159, 150, 149);
}

