.offcanvas-title{
    font-weight: bold;
    color: black;
    margin-top: 15px;
    border-bottom: rgba(173, 173, 173, 0.99) 2px solid;
    margin-bottom: 10px;
}
.cartContent{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-bottom: rgba(173, 173, 173, 0.99) 1px solid;
}

.cartContent h4{
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
    color: black;
}

.buy-now-cart{;
    padding: 5px 20px;!important;
    background: #dc8cdb;!important;
    border: none;!important;
    color: #fff;!important;
    transition: 2s;!important;
    border-radius: 10px;!important;
    font-weight: 700;!important;
    margin-right: 10px;!important;
    margin-bottom: 10px;!important;
}

.buy-now-cart:hover{
    background: #fff;!important;
    border: none;!important;
    color: #dc8cdb;!important;
}

#check-out{
    padding: 15px 20px;
    background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%) !important;
    border: none;
    color: #fff;
    transition: 2s;
    border-radius: 10px;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 10px;

}

#check-out a{
    color: #fff;
}

#check-out:hover{
    background: linear-gradient(-145deg, rgb(178, 102, 182) 0%, rgb(213, 154, 125) 100%) !important;
}


#remove-all{
    padding: 15px 20px;
    background: rgb(159, 150, 149);
    border: none;
    transition: 2s;
    border-radius: 10px;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
}

#remove-all:hover{
    background: #fff;
    color: rgb(159, 150, 149);
}

