/* dashboard style */
.chart-container {
    display: inline-block;
    width: calc(48% - 20px);
    margin-bottom: 40px;
    vertical-align: top;
    border-radius: 7px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.chart-container h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #333;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

.star-rating {
    color: orange;
}

canvas {
    max-width: 100%;
    height: auto;
}

.chart-with-pie-line {
    display: flex;
}

.chart-with-bar-line {
    display: flex;
    flex-wrap: wrap;
}

.small-chart {
    width: 40px;
    height: 40px;
}

.chart-with-bar-line canvas {
    flex: 1 1 50%;
    min-width: 300px;
    min-height: 300px;
}

.totalStatistic{
    display: flex;
}

.displayTotalStatistic{
    width: 30%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    margin: 15px 15px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
}

.display-i{
    padding: 10px;
    border-radius: 50px 50px;
    background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%) !important;
    height: 40px;
    margin: 10px;
}

.displayTotalStatistic div{
    text-align: center;
}

.displayTotalStatistic div h2{
    font-weight: 700;
}

