/* learn css */
.main-banner-learn{
    padding-top: 50px;
}

.learn h2{
    font-size: 62px;
    color: rgba(219, 138, 222, 1);
    font-weight: 900;
    line-height: 74px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.learn h4{
    position: relative;
    z-index: 2;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.learn h6{
    position: relative;
    z-index: 2;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    color: #777777;
}

.course-details{
    background: #3B566E;
    padding: 35px 0px 40px 25px;
}

.course-details h2{
    color: ghostwhite;
    font-weight: 700;
}

.course-details h4{
    color: ghostwhite;
}

.course-details p{
    color: ghostwhite;
}

.what-you-can-learn{
    padding: 30px 0px 40px 0px;
    margin-top: 50px;
    margin-left: 70px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #ccc;
}

.what-you-can-learn h3{
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.what-you-can-learn ul li{
    list-style: none;
    margin-left: 10px;
    font-weight: 400;
    color: rgb(58, 58, 58);
}

.what-you-can-learn ul li:before{
    content: '✓';
}


.lessonList{
    padding: 5px 5px;
    margin: 40px 0px 50px 70px;
    width: 70%;
    border: 1px solid gray;
}

.lName h5{
    font-weight: 700;
    color: rgba(219, 138, 222, 1);
}

.lName p{
    font-weight: lighter;
    color: rgba(173, 173, 173, 0.99);
}

.course-title{
    margin: 50px 0px 20px 0px;
    font-weight: 700;
}

html{
    scroll-behavior: smooth;
    background: whitesmoke;
}

.purchase-session{
    margin-top: 29px;
    margin-right: 20px;
    float: right;
    background-color: white;
    top: 0px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px #ccc;
    width: 25%;
    height: 350px;
    border-radius: 7px;
}

.purchase-session h2{
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 700;
}

.purchase-session h4{
    position: relative;
    z-index: 2;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    color: #777777;
    margin-bottom: 10px;
}

.purchase-session form{
    margin-bottom: 10px;
    align-content: center;
    text-align: center;
}

.add-to-cart{
    border: none;
    font-size: 13px;
    background-color: #dc8cdb;
    color: #fff;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
}

.add-to-cart:hover{
    background: #fff;
    color: #dc8cdb;
}

.buy-now-cart{;
    border: none;
    font-size: 13px;
    background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%) !important;
    color: #fff;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
}

.buy-now-cart:hover{
    background-image: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: #fff;
}

.requirement ul li{
    list-style: disc;
    margin-left: 22px;
}

.whoFor ul li{
    list-style: disc;
    margin-left: 22px;
}

.offcanvas-title{
    font-weight: bold;
    color: black;
    margin-top: 15px;
    border-bottom: rgba(173, 173, 173, 0.99) 2px solid;
    margin-bottom: 10px;
}
.cartContent{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-bottom: rgba(173, 173, 173, 0.99) 1px solid;
}

.cartContent h4{
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    color: black;
}

.star-rating input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.star-rating label {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.star-rating input[type="radio"]:checked + label {
    color: gold;
}

.star-rated input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.star-rated label {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.star-rated input[type="radio"]:checked + label {
    color: gold;
}

.btn-primary{
    margin-top: 10px;
    background-color: #ffb963;
    border-color: #ffb963;
}

.btn-primary:hover{
    background-color: #ffb963;
    border-color: #ffb963;
}
/* end learn css*/