.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    border: rgb(58, 58, 58) solid 1px;
    padding: 10px;
    max-width: 500px;
    margin: 0 0 30px 0px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.material-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.material-row .material-type {
    flex: 1;
    margin-right: 10px;
}

.material-row .material-value {
    flex: 2;
    margin-right: 10px;
}

.remove-material {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

#add-material-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#buttons-container {
    margin-top: 20px;
    text-align: center;
}

#submit-btn,
#cancel-btn,
#back-btn{
    background: linear-gradient(to right, rgba(219,138,222,1), rgba(246,191,159,1));
    color: white;
    border: none;
    padding: 10px 16px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}