<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Course</title>
    <link rel="stylesheet" th:href="@{assets/css/add-course.css}">
</head>
<body>
<div class="container">
    <h1>Add a Course</h1>
    <form id="courseForm">
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="math">Math</option>
            <option value="science">Science</option>
            <option value="history">History</option>
        </select>

        <label for="courseName">Course Name:</label>
        <input type="text" id="courseName" name="courseName">

        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate">

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate">

        <button type="button" onclick="goToLessonsPage()">Add Lessons</button>
    </form>
</div>

<script th:src="@{/assets/js/add-course.js}"></script>
</body>

</html>



