<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{assets/css/loginStyle.css}">
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-eduwell-style.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/lightbox.css">

  <title>Change password</title>
</head>
<body>
<script src="https://kit.fontawesome.com/acf74393da.js" crossorigin="anonymous"></script>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a th:href="@{/home}" class="logo">
            <p style="margin-top: 40px; color: white">YourCourse</p>
            <!--<img src="assets/images/templatemo-eduwell.png" alt="EduWell Template">-->
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section"><a th:href="@{/home}" class="active">Home</a></li>
            <li class="scroll-to-section"><a href="#services">Services</a></li>
            <li class="scroll-to-section"><a th:href="@{/course}">Courses</a></li>
            <li class="has-sub">
              <a href="javascript:void(0)">Pages</a>
              <ul class="sub-menu">
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="our-services.html">Our Services</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
              </ul>
            </li>
            <li class="scroll-to-section"><a href="#contact-section">Contact Us</a></li>
            <li class="has-sub">
              <i class="fa-solid fa-user" style="color: white">
                <ul class="sub-menu">
                  <p th:if="${session.CSys}!=null">
                  <li><a th:href="@{/profile}">My Account</a></li>
                  <li><a th:href="@{/logout}">Log out</a></li>
                  </p>
                  <p th:if="${session.CSys}==null">
                  <li><a th:href="@{/login}">Log in</a></li>
                  </p>
                </ul>
              </i>
            </li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
  <div class="center">
    <h1>Change Password</h1>
    <form
            method="post"
            role="form"
            th:action="@{/changePassword/save}"
            th:object="${system_account}"
    >
      <div class="txt_field">
        <input
                type="password"
                id="password"
                name="password"
                th:field="*{accountPassword}"
                required
        >
        <span></span>
        <label>Enter Password</label>
      </div>

      <div class="txt_field">
        <input type="password" id="confirm" required>
        <span></span>
        <label>Confirm Password</label>
      </div>
      <input type="submit" value="Change">

    </form>
  </div>
    <script>
      var password = document.getElementById("password")
              , confirm_password = document.getElementById("confirm");

      function validatePassword(){
        if(password.value == null) {
          password.setCustomValidity("This field should not be empty");
        }
        if(password.value != confirm_password.value ){
          confirm_password.setCustomValidity("Passwords Don't Match");
        }
        else {
          confirm_password.setCustomValidity('');
        }
      }
      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>
</body>
</html>