<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" th:href="@{assets/css/header.css}">
  <title>Edit Course</title>
  <link rel="stylesheet" th:href="@{assets/css/add-course.css}">
  <script src="https://kit.fontawesome.com/acf74393da.js" crossorigin="anonymous"></script>
  <!-- Bootstrap core CSS-->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Additional Boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- Additional CSS Files -->
  <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
  <link rel="stylesheet" th:href="@{/assets/css/your-course.css}">
  <style>
    html{
      height: 100%;
    }

    #editLessons{
      margin-right: 20px;
      float: right;
      border: none;
      font-size: 13px;
      background-color: #dc8cdb;
      color: #fff;
      padding: 12px 30px;
      display: inline-block;
      border-radius: 5px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all .3s;
      max-width: 45%;
    }

    #editLessons:hover{
      color: #fff;
    }
  </style>
</head>
<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a th:href="@{/home}" class="logo">
            <p style="margin-top: 40px; color: white">YourCourse</p>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a th:href="@{/allCourses}">Cancel</a></li>
          </ul>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="container add-course-form" style="margin-top: 180px">
  <h1 style="text-align: center;font-weight: 650;margin-bottom: 40px;">Edit</h1>
  <form
          enctype="multipart/form-data"
          role="form"
          method="post"
          th:action="@{/editLessons}"
          th:object="${addCourseForm}"
          id="courseForm"
  >
    <label for="category">Category:</label>
    <select id="category" name="category" th:field="*{category}">
      <option value="Language Learning">Language Learning</option>
      <option value="Web development">Web development</option>
      <option value="Web design">Web design</option>
      <option value="IT Fundamental">IT Fundamental</option>
      <option value="Mathematics">Mathematics</option>
      <option value="Fundamental Programming">Fundamental Programming</option>
    </select>

    <label for="courseName">Course Name:</label>
    <input type="text" id="courseName" name="courseName" th:field="*{courseName}" th:value="*{courseName}">

    <label for="description">Short Description:</label>
    <textarea id="description" name="description" th:field="*{courseDes}" th:value="*{courseDes}"></textarea>

    <label for="file" style="margin: 20px 0px 10px 0px;">Image:</label>
    <input type="file" name="file" id="file"/>

    <label for="startDate" style="margin: 20px 0px 10px 0px;">Start Date:</label>
    <input type="date" id="startDate" name="startDate" th:field="*{startDate}" th:value="*{courseDes}">

    <label for="endDate" style="margin: 20px 0px 10px 0px;">End Date:</label>
    <input type="date" id="endDate" name="endDate" th:field="*{endDate}" th:value="*{endDate}">

    <label for="price" >Price(đ):</label>
    <input type="number" id="price" name="price" th:field="*{price}" th:value="*{price}">

    <h2 style="margin-bottom: 20px;">Additional information</h2>

    <label for="courseDetailsContent">More description when accessing course:</label>
    <textarea id="courseDetailsContent" name="courseDetailsContent" th:field="*{courseDescription}" th:value="*{courseDescription}"></textarea>

    <label for="whatCanBeLearnt">What can be learnt after this course:</label>
    <textarea id="whatCanBeLearnt" name="whatCanBeLearnt" th:field="*{courseDetailsContent}" th:value="*{courseDetailsContent}"></textarea>

    <label for="courseRequirement">Requirement to join in the course:</label>
    <textarea id="courseRequirement" name="courseRequirement" th:field="*{courseRequirements}" th:value="*{courseRequirements}"></textarea>

    <label for="forWho">For which kind of student:</label>
    <textarea id="forWho" name="forWho" th:field="*{forWho}" th:value="*{forWho}"></textarea>

    <input type="submit" name="choice" value="Edit Lessons" id="editLessons">
    <input type="submit" name="choice" value="Update">
  </form>
</div>
</body>

</html>



