<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/css/cart.css}">
    <link rel="stylesheet" th:href="@{assets/css/header.css}">
    <link rel="stylesheet" th:href="@{assets/css/footer.css}">
    <title>Policy</title>
    <script src="https://kit.fontawesome.com/acf74393da.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Additional Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" th:href="@{assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{assets/css/your-course.css}">

    <style>
        .cart-container {
            position: relative;
            display: inline-block;
        }

        .fa-rectangle {
            position: absolute;
            top: -0.9em;
            right: -1.2em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 1.5em;
            background-color: #ffb963;
            border-radius: 50%;
            color: #ffb963;
            font-size: 0.8em;
            line-height: 1.5em;
        }

        .rectangle-number {
            display: inline-block;
            color: white;
        }

        .py-2 {
            padding-top: 7rem!important;
            padding-bottom: 0.5rem!important;
        }


    </style>

</head>
<body>
<!-- ***** OffCanvas Start *****-->
<div class="offcanvas offcanvas-end" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Cart</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div th:if="${session.cart!=null}">
            <th:block th:each="cart, state: ${session.cart}">
                <form
                        role="form"
                        method="post"
                        th:action="@{/cart}"
                        th:object="${courseDTO}"
                >
                    <div class="cartContent" >
                        <div style="display: inline-flex">
                            <input type="text" name="fromPage" value="list" style="display: none">
                            <input type="number" th:value="${cart.courseID}" th:name="courseID" style="display: none">
                            <input type="number" name="discountPrice" th:value="${cart.price}" style="display: none">
                            <div>
                                <img th:src="'https://drive.google.com/uc?id='+${cart.courseImage}" style="width: 70px; height: 70px;">
                            </div>
                            <h4 th:text="${cart.courseName}"></h4>
                            <p th:text="'Price: '+${cart.price}+'đ'" style="float: left; margin-left: 15px; padding-top: 10px; font-weight: 500"></p>
                        </div>
                        <div style="display:inline-flex; margin-top: 10px">
                            <input type="submit" value="Buy now" class="buy-now-cart" name="paymentButton">
                            <input type="submit" value="Remove from cart" class="buy-now-cart" name="paymentButton">
                        </div>
                    </div>
                </form>
            </th:block>
            <button id="check-out"><a th:href="@{/checkout(cartButton = 'checkout')}" th:text="'Check out: '+${session.sum}+'đ'"></a></button>
            <form
                    role="form"
                    method="post"
                    th:action="@{/cart}"
                    th:object="${courseDTO}"
            >
                <input id="remove-all" type="submit" name="paymentButton" value="Remove All">
                <input type="text" name="fromPage" value="list" style="display: none">
            </form>
        </div>
        <div th:if="${session.cart==null}">
            <div class="cartContent" style="display: inline-flex">
                <h4 style="margin-bottom: 10px;">Cart is empty</h4>
            </div>
        </div>
    </div>
</div>
<!-- ***** OffCanvas End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/home}" class="logo">
                        <p style="margin-top: 40px; color: white">YourCourse</p>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <form
                                role="form"
                                method="post"
                                th:action="@{/search}"
                                th:object="${courseDTO}"
                        >
                            <input type="text" th:field="*{courseName}" placeholder="Search.." style="opacity: 0.5; border-radius: 7px">
                        </form>
                        <li class="has-sub">
                            <a>Category</a>
                            <ul class="sub-menu">
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=1)}">Language Learning</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=2)}">Web development</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=3)}">Web design</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=4)}">IT Fundamental</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=5)}">Mathematics</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=6)}">Programming</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/course}">Courses</a></li>
                        <li class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo"
                            style="color: white; background: none; border: none">
                            <div class="cart-container">
                                <i class="fa-solid fa-shopping-cart"></i>
                                <th:block th:if="${session.cart!=null}">
                                    <i class="fa-solid fa-rectangle"><span class="rectangle-number">[[${session.cartSize}]]</span></i>
                                </th:block>
                            </div>
                        </li>
                        <p th:if="${session.CSys}!=null">
                        <li><a th:href="@{/myCourse}">My Course</a></li>
                        </p>
                        <li class="has-sub">
                            <i class="fa-solid fa-user" style="color: white">
                                <ul class="sub-menu">
                                    <p th:if="${session.CSys}!=null">
                                    <li><a th:href="@{/profile}">My Account</a></li>
                                    <li><a th:href="@{/logout}">Log out</a></li>
                                    </p>
                                    <p th:if="${session.CSys}==null">
                                    <li><a th:href="@{/login}">Log in</a></li>
                                    </p>
                                </ul>
                            </i>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
    <section class="py-2 my-2">
        <div class="container policy" style="padding: 30px 40px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);">
            <h1 style="font-weight: 600;margin: 0px 0px 25px 0px;text-align: center;">
                Privacy Notice</h1>
            <div>
                <h3>Purpose and who we are</h3>
                <p>
                    The purpose of this Privacy Notice is to describe how YourCourse, collects, uses, and shares information about you through our online interfaces (e.g., websites applications) owned and controlled by us.
                    Please read this Privacy Notice carefully to understand what we do.
                    If you do not understand any aspects of our Privacy Notice, please feel free to contact us.
                </p>
            </div>
            <div>
                <h3>What Information this Privacy Notice Covers</h3>
                <p>
                    This Privacy Notice covers information we collect from you through our Site.
                    Some of our Site’s functionality can be used without revealing any Personal Data, but for features or Services related to the Content Offerings, Personal Data is required.
                    In order to access certain features and benefits on our Site, you may need to submit, or we may collect, "Personal Data" (i.e., information that can be used to identify you and which may also be referred to as “personally identifiable information” or “personal information”).
                    Personal Data can include information such as your name, email address, IP address, and device identifier, among other things.
                    You are responsible for ensuring the accuracy of the Personal Data you submit to Coursera.
                    Inaccurate information may affect your ability to use the Site, the information you receive when using the Site, and our ability to contact you. For example, your email address should be kept current because that is one of the primary manners in which we communicate with you
                </p>
            </div>
            <div>
                <h3>
                    What You Agree to by Using Our Site
                </h3>
                <p>
                    We consider that the legal bases for using your personal information as set out in this Privacy Notice are as follows:
                </p>
                <ul>
                    <li>
                        our use of your personal information is necessary to perform our obligations under any contract with you
                        (for example, to comply with the Terms of Use of our Site which you accept by browsing our website and/or to comply with our contract to provide Services to you, your academic institution, your employer, or other organization that may be providing you with access to our Services)
                    </li>
                    <li>
                        our use of your personal information is necessary for complying with our legal obligations
                    </li>
                    <li>
                        use of your personal information is necessary for our legitimate interests or the legitimate interests of others.
                        Our legitimate interests are to:
                    </li>
                    <li>
                        run, grow and develop our business
                    </li>
                    <li>
                        operate our Site and provide our Services
                    </li>
                    <li>
                        select appropriately skilled and qualified suppliers
                    </li>
                    <li>
                        carry out research and statistical analysis to help improve our Services
                    </li>
                    <li>
                        better understand our visitor’s preferences
                    </li>
                    <li>
                        consent, to send you certain communications or where you submit certain information to us, or where required to rely upon consent by local law, we will only process your personal information for marketing purposes where you have provided consent for us to do so.
                        When we rely on consent, you have the right to withdraw your consent at any time.
                    </li>
                </ul>
                <p>
                    Which legal basis applies to a specific activity will depend on the type of personal information used and the context in which it is being used.
                </p>
                <p>
                    If we rely on our (or another party’s) legitimate interests for using your personal information,
                    we will undertake a balancing test to ensure that our (or the other party’s) legitimate interests are not outweighed by your interests or fundamental rights and freedoms which require protection of the personal information.
                </p>
                <p>
                    We may process your personal information in some cases for marketing purposes on the basis of your consent (which you may withdraw at any time as described below).
                </p>
                <p>
                    If we rely on your consent for us to use your personal information in a particular way, but you later change your mind, you may withdraw your consent by visiting your profile page and clicking the box to remove consent and we will stop doing so.
                    If you withdraw your consent, this may impact the ability for us to provide some of our Services to you.
                </p>
            </div>
            <div>
                <h3>
                    What Information We Collect
                </h3>
                <p>
                    We gather the following types of information about users through the Site:
                </p>
                <p>
                    1.	Information relating to your use of our Site.
                    When users come to our Site, we may track, collect, and aggregate information indicating, among other things, which pages of our Site were visited, the order in which they were visited, when they were visited, and which hyperlinks were clicked.
                    We also collect information from the URLs from which you linked to our Site. Collecting such information may involve logging the IP address, operating system, and browser software used by each user of the Site. We may be able to determine from an IP address a user’s Internet Service Provider and the geographic location of their point of connectivity. Location data may be used to route your traffic to the nearest regional server to reduce latency and improve your experience.
                    We may also use cookies and web beacons when you visit our Site
                </p>
                <p>
                    2.	Personal Data provided directly by you or via third parties.
                    We collect Personal Data that you provide to us when you register for an account, update or change information for your account, purchase products or Services, complete a survey, sign-up for email updates, participate in our public forums, send us email messages, and/or participate in Content Offerings or other Services on our Site.
                    We may use the Personal Data that you provide to respond to your questions, provide you the specific Content Offering and/or Services you select, send you updates about Content Offerings or other Coursera events, and send you email messages about Site maintenance or updates.
                </p>
                <ul>
                    <li>
                        Account Registration. If you register for an account on our Site, you may be required to provide us with certain Personal Data such as your name and email address.
                        You may also voluntarily provide us with additional Personal Data
                    </li>
                    <li>
                        Updates. YourCourse may offer you the ability to receive updates either via email or by posting on portions of the Site only accessible to registered users.
                        In order to subscribe to these Services, you may be required to provide us with Personal Data such as your name and email address.
                    </li>
                </ul>
            </div>
            <div>
                <h3>
                    How We Use the Information
                </h3>
                <p>
                    1.	Information relating to your use of our Site. We use information relating to your use of the Site to build higher quality, more useful Services by performing statistical analyses of the collective characteristics and behavior of our users, and by measuring demographics and interests regarding specific areas of our Site.
                    We may also use this information to ensure the security of our Services and the Site.
                </p>
                <p>
                    2.	Personally Identifiable Information provided directly by you or via third parties. Except as set forth in this Privacy Notice or as specifically agreed to by you, Coursera will not disclose any of your Personal Data.
                    In addition to the other uses set forth in this Privacy Notice, we may disclose and otherwise use Personal Data as described below
                </p>
                <ul>
                    <li>
                        Providing the Site and our Services.
                        We use Personal Data which you provide to us in order to allow you to access and use the Site and in order to provide any information, products, or Services that you request from us.
                    </li>
                    <li>
                        Technical support and security. We may use Personal Data to provide technical support to you, where required, and to ensure the security of our Services and the Site.
                    </li>
                    <li>
                        Updates. We use Personal Data collected when you sign-up for our various email or update services to send you the messages in connection with the Site or Content Offerings.
                        We may also archive this information and/or use it for future communications with you, where we are legally entitled to do so.
                    </li>
                    <li>
                        Identity Verification. For Services that require identity verification, we may use the Personal Data that we collect for verifying your identity, and for authenticating that submissions made on the Site were made by you. This service may be provided through a third-party identity verification vendor.
                        Your photo identification document will be deleted after successful verification of your profile information
                    </li>
                </ul>
            </div>
            <div>
                <h3>
                    Updating or Deleting Your Personal Data
                </h3>
                <p>
                    You have certain rights in relation to your Personal Data. You can access your Personal Data and confirm that it remains correct and up-to-date or choose whether or not you wish to receive material from us or some of our partners by logging into the Services and visiting your user account page.
                    You also may exercise your rights, where applicable, to request that we delete your Personal Data.
                    You have the right to request that we:
                </p>
                <ul>
                    <li>
                        provide access to any Personal Data we hold about you;
                    </li>
                    <li>
                        prevent the processing of your Personal Data for direct-marketing purposes;
                    </li>
                    <li>
                        update any Personal Data which is out of date or incorrect;
                    </li>
                    <li>
                        delete any Personal Data which we are holding about you;
                    </li>
                    <li>
                        restrict the way that we process your Personal Data;
                    </li>
                    <li>
                        provide your Personal Data to a third party provider of services; or
                    </li>
                    <li>
                        provide you with a copy of any Personal Data which we hold about you.
                    </li>
                </ul>
                <p>
                    We try to answer every request promptly where possible, and provide our response within the time period stated by applicable law. Keep in mind, however, that when deleting your Personal Data there may be residual information that will remain within our databases, access logs, and other records, which may or may not contain your Personal Data. Please also note that certain Personal Data may be exempt from such requests in certain circumstances, which may include if we need to retain your Personal Data to comply with a legal obligation.
                    When you email us with a request, we may ask that you provide us with information necessary to confirm your identity.
                </p>
            </div>
            <div>
                <h3>
                    Questions, Suggestions, and Complaints
                </h3>
                <p>
                    If you have any privacy-related questions, suggestions, unresolved problems, or complaints, you may contact us via
                </p>
            </div>
            <div>
                <h3>
                    Changing Our Privacy Notice
                </h3>
                <p>
                    Please note that we review our privacy practices from time to time, and that these practices are subject to change.
                    Any change, update, or modification will be effective immediately upon posting on our Site.
                    We will notify you of any material change to this Privacy Notice by posting a notice on our Site’s homepage for a reasonable period of time following such update or by sending an email to the email address associated with your user account
                    , and by changing the effective date (located at the top and bottom of this page).
                    Be sure to return to this page periodically to ensure familiarity with the most current version of this Privacy Notice.
                </p>
            </div>
        </div>
    </section>
<!-- ***** Footer *****-->
<footer style="margin-top: 30px">
    <div class="container-fluid footer-st" style="padding: 10px 0px 20px 0px;">
        <div class="row">
            <div class="col-lg-4">
                <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">Follow us</p>
                <ul class="social-icons" style="margin-top: 10px;">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">About us</p>
                <div style="margin-top: 10px; text-align: center" >
                    <a style="color: #fff">Our mission is to bring service to help people study better</a><br>
                    <a style="color: #fff">Our team: FPT University-SWP391-Group 6</a>
                </div>
            </div>
            <div class="col-lg-4">
                <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">Further information</p>
                <div style="margin-top: 10px; text-align: center">
                    <a th:href="@{/policy}" style="color: #fff;">Policy</a><br>
                    <i class="fa-solid fa-phone" style="color: #fff;"></i><a style="color: #fff">Phone: 0393910645</a>
                </div>
            </div>
            <div class="col-lg-6" style="height: 50px">
                <a th:href="@{/home}" class="logo">
                    <p style="
                  text-align: center;
                  margin-top: 40px;
                  color: #fff;
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                  letter-spacing: 2px;"
                    >
                        YourCourse
                    </p>
                </a>
            </div>
            <div class="col-lg-6" style="height: 50px">
                <p class="copyright" style="margin-bottom: 0px"> © 2023 YourCourse Web Application</p>
            </div>
        </div>
    </div>
</footer>
<!-- ***** End Footer *****-->

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/lightbox.js"></script>
<script src="assets/js/tabs.js"></script>
<script src="assets/js/slick-slider.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>